#tree {
  display: grid;
  width: fit-content;
}

#bracket {
  display: grid;
  grid-template-columns: min-content auto;
}

#root {
  display: grid;
  align-items: center;
}

#winner {
  border: 1px solid black;
  height: 40px;
  width: 100px;
  margin-left: -50px;
  background-color: white;
}

.bracket-lines {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  border: solid black 1px;
  border-left: none;
  height: 50%;
  margin: 100px 0px;
  width: 200px;
  justify-items: center;
  align-self: center;
}

div.bracket-lines>p {
  justify-self: end;
  margin-right: 10px;
}

.box-top {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  background-color: white;
  align-self: flex-start;
  margin-top: -20px;
}

.box-bottom {
  height: 40px;
  width: 100px;
  border: 1px solid black;
  background-color: white;
  align-self: flex-end;
  margin-bottom: -20px;
}

#bracket-template {
  display: none;
}

.bracket-column {
  display: grid;
}

.box {
  display: grid;
  width: fit-content;
  align-self: center;
}
